<style>
    /* footer style*/
footer{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 80px 80px 50px 80px;
    margin: 0px;
    background-image: linear-gradient(to bottom, transparent, #DEE2FF, #DEE2FF, #DEE2FF, #DEE2FF)
}

/*#header {
    padding: 30px 60px;
    margin: 0px;
    background-image: linear-gradient(to bottom, #C2A5D1, transparent);
}*/


.links {
    text-align: center;
}

.links a {
        color:#000;
        text-decoration: none;
        margin: 0px 10px;
    }

.links a:hover {
        color: #995151;
    }

</style>

<div id="footer" class="links">
    <h5>© PeriodPal</h5>
    <h4 class="links">Links</h4>
    <a href="/views/pages/about.html">About Me</a> |
    <a href="/views/pages/contact.html">Contact Me</a>|
    <a href="/views/pages/purpose.html">Purpose</a>|
    <a href="/views/pages/references.html">References</a>|
    <a href="/views/pages/thanks.html">Credits</a>
</div>

<div id="disclaimer">

    <h4>Disclaimer:</h4>
    <p>
        This website is created for learning purposes only. The information provided here should not be considered professional advice. While we strive for accuracy, we make no guarantees regarding the completeness or reliability of the content. Any actions you take based on this information are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
    </p>
    <p>
        *Please consult your healthcare professional in the event of any medical query or emergency. Do not attempt to diagnose or self-medicate your medical condition.
    </p>
</div>