<style>
    nav {
        font-weight: bold;
        background-color: #C2A5D1;
        color: white;
        text-shadow: #C2A5D1 1px 0px 2px;
        padding: 10px;
        text-align: center;
        align-items: center;
        display: block;
        padding: 20px 60px;
        margin: 0px;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    nav a {
        color: white;
        text-decoration: none;
        margin: 1px auto;
        display: inline-block;
        padding: 5px 2%;
    }
    nav a:hover {
        text-decoration: underline;
    }

    #logo{
        position: absolute;
        top: 13px;
        left: 20px;
    }
</style>

<nav>
    <a href="/" id="logo"><img src="/assets/PeriodPal Short logo.png" alt="PeriodPal Logo" width="30"></a>
    <a href="/">Home</a>
    <a href="/views/pages/menstrualcycle.html">Menstrual Cycle</a>
    <a href="/views/pages/recommendations.html">Recommendations</a>
    <a href="/views/pages/hormonalimbalance.html">Hormonal Imbalance</a>
</nav