@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", serif;
    font-size: 16px;
    background-color: #f7eded;
    display: block;
    justify-content: center;
    align-items: left;
    height: 100vh;
    margin: 30px 0px;
    padding: 0;
    box-sizing: border-box;
    border-left: 10px;
    border-right: 20px;
}

.text {
    border-width: 3vh 8vh;
    border-style: solid;
    border-color: transparent;
}

.pages {
    margin-left: 40vh;
    margin-right: 40vh;
    max-width: 1080px;
    align-content: center;
}

h1,h2,h3,h4,h5,h6,nav, input {
    font-family: "Josefin Sans", sans-serif;
}

/* Title and header 2*/
h1, h2, h4 {
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-variation-settings:"width" 100;
    margin-bottom: 15px;
}

.fullContainer {
    display: flex;
    gap: 1vw;
    width: 60vw;
    align-items: center;
    margin: 1vw;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1500px;
    justify-content: space-around;
}

/* Entire Calculator portion*/
.container {
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: normal;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 45px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

@media (max-width: 768px) {
    .fullContainer {
        flex-direction: column;
        gap: 0px;
        margin: auto;
        display: grid;
        justify-content: center;
    }
    .pages {
        margin: 5vh 3vw;
    }
    .graph {
        margin: 5vh 3vw;
    }
    #graphpage p {
        text-align: left;
    }
    .graph div {
        justify-self: left;
    }
    .text {
        border-width: 1vh 3vw;
    }
    #graphpage {
        overflow-x: auto;
    }
    div.cycleTypes {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    div.intro {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .pages {
        margin: auto 0px;
    }
}

div.intro {
    display: flex;
    display: flex;
    gap: 2vw;
    width: 60vw;
    align-items: flex-start;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1500px;
    justify-content: space-around;
}

div.pages.intro > div {
    background-color: #ffffff;
    padding: 1.5vw ;
    border-radius: 15px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro a {
    text-decoration: none;
    color: #C2A5D1;
}
.intro a:hover{
    text-decoration: underline;
    color: #5D396F;
}

/* Results portion*/
.hidden {
    display: none;
}

#disclaimer {
    border-width: 30px 0px;
    border-color: transparent;
    border-style: solid;
    font-style: italic;
    font-size: smaller;
    margin: 0;
}

/* Calculator words and inputs portion*/
form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-width: 2px;
    border-radius: 45px;
    font-size: 85%;
    font-family: "Noto Sans", serif;
}

/* Calculate Button*/
button {
    padding: 10px;
    background-color: #C2A5D1ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

button:hover {
    background-color: #5d396f;
}

/* Form result*/
.result {
    font-size: 1rem;
    color: #555;
}

.result span {
    font-weight: bold;
    color: #000;
}

.recommendation {
    font-size: 1rem;
    color: #000000;
    text-align: left;
}

.recommendation span {
    font-weight: bold;
}

/* References */
.references ul {
    list-style-type: none;
    padding-left: 0;
    font-size: smaller;
}

.references li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.references i {
    font-style: italic;
}
button.scroll  {
    width: 30vh;
}

.scroll {
    display: flex;
    width: 50%;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imbalance1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topics {
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 45px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
}
.topicContainer {
    display: grid;
    width: auto;
    height: 100%;
    gap: 2vh;
    text-align: left;
    justify-content: center;
    align-items: start;
    margin: auto;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
  
}

.topics a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
section {
    margin: 7vh 0vh;
}
.references a {
    text-decoration: none;
    color: black;
}
.references a:hover{
    color: #5D396F;
    text-decoration: underline;
    font-weight: bold;
}
.thanks {
    padding: 80px 80px;
    text-align: center; 
    vertical-align: middle
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 12px; /* width of vertical scrollbar */
    height: 12px; /* height of horizontal scrollbar */
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;/* color of the track */
    background: #F7EDED;
}

::-webkit-scrollbar-track-piece {
    background: none; /*the track NOT covered by the handle.*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F7EDED; /* color of the handle */
    border-radius: 50px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #C2A5D1; /* color of the handle when hovered */
}