<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>PeriodPal - About Me</title>
      <link rel="stylesheet" href="/style.css">
      <!-- Address bar logo icon -->
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
      <link rel="manifest" href="/assets/site.webmanifest">
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TMV7P8QFCJ');
      </script>
  </head>

  <body>
    <div id="navbar"></div>
    
    <div class="pages">
      <div class="text">
        <h1>About Me</h1>
          
          <h2>Hello!</h2>
          <p>I'm Celine and welcome to my little slice of the internet.</p>

            <h3>Who I Am</h3>
            <p>
              I am passionate in practising self-love, driven by a love for yoga and mindfulness. With a background in sociology, communication and tech, I have spent the last year immersing myself in engaging people and deep diving into digital products, continually seeking to learn and grow.
              </p>

            <h3>What I Do</h3>
            <p>
              By day, I work as an engagement manager, involving volunteer management and co-creation. My work involves understanding and improving digital services through user research like focus group discussions and user testings. I take pride playing a coordinating role of connecting agencies with the right users for testing and sharing my expertise in planning them.
            </p>
            <p>
              By night, I am your typical yoga girlie, spending my free time catching up on kdramas,  kpop and immersing myself in books. Aside from that, I also find joy in getting out of my comfort zone and exploring new possibilities by volunteering in the heartlands and engaging in sports.
            </p>

            <h3>My Beginning</h3>
            <p>
              My journey began in university, where I studied sociology and communication. Over the years, I have had the privilege of learning more about social patterns, attitudes and behaviour through research and exposing myself in various topics like sociology of diversity and mass communication, which have shaped my passions and inspired me to pursue it professionally.
            </p>

            <h3>My Belief</h3>
            <p>I am a firm believer in body positivity. Personally, I also believe in positive self-talk, which is the way we talk about ourselves and our bodies, and that it can have immense impact on our self-esteem and thus, our attitudes in life. I strive to encourage self-love and body appreciation, and to create an accepting and forgiving environment for women and all types of bodies.</p>

        </div> 
    </div>

    <script src="/script.js"></script>
  </body>
      
  <footer>
    <div id="footer"></div>
</footer>
      
</html>