<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PeriodPal - Biohacking</title>
        <link rel="stylesheet" href="/style.css">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TMV7P8QFCJ');
        </script>

        
    </head>

    <body>
        <div id="navbar"></div>

        <div class="pages">
            <div class="text">
                <h1>Biohacking</h1>
                <div class="scroll">
                    <button class="scroll" onclick="scrollToSection('Nutrition')">Nutrition</button>
                    <button class="scroll" onclick="scrollToSection('Exercise')">Exercise</button>
                    <button class="scroll" onclick="scrollToSection('Work')">Work</button>
                
                </div>

                <div id="Nutrition" class="section">
                    <h2>Nutrition</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin blandit erat, sit amet dignissim erat vehicula eu. Aenean vehicula pharetra urna non interdum. Cras bibendum pharetra purus. Praesent fringilla neque sit amet varius luctus. Suspendisse quis est hendrerit nulla accumsan sodales vitae non leo. Cras pulvinar hendrerit velit, eget iaculis enim congue in. Sed eget quam elementum, pulvinar metus vel, blandit dolor. In hac habitasse platea dictumst. Donec in pellentesque purus.</p>

                    <p>Morbi a nibh ultrices tortor iaculis semper. Aenean eleifend mi nec lectus sollicitudin, non euismod mi ultricies. Phasellus dapibus ac libero sit amet rutrum. Morbi luctus nisi nunc, eget pellentesque felis lobortis eget. Proin massa elit, pulvinar in congue sed, hendrerit sed felis. Donec in mauris neque. Maecenas eleifend volutpat est volutpat interdum. Ut aliquam ornare purus ut laoreet. Mauris commodo blandit quam non fermentum. Phasellus eu suscipit tellus.</p>
                    
                    <p>Vestibulum ultrices condimentum tempus. Donec massa justo, auctor sed dictum iaculis, tristique ut justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras justo enim, varius ut quam eu, eleifend tincidunt nibh. Curabitur ipsum dolor, rutrum sed lectus ac, sodales tincidunt felis. Fusce ornare nisi odio, id elementum mi accumsan vel. Nunc in interdum ipsum. Nunc aliquet felis vel erat tincidunt fringilla. Integer eget diam vitae velit maximus vulputate. Quisque luctus libero mi, in auctor felis tempus aliquet. Mauris eget ante nisi. Vestibulum elementum imperdiet congue. Nam vel arcu interdum, faucibus mauris a, tincidunt augue. Curabitur tincidunt ligula a metus sodales, in fringilla felis posuere. Duis vel libero in lacus commodo laoreet.</p>
                </div>

                <div id="Exercise" class="section">
                    <h2>Exercise</h2>
                    
                    <p>Exercises: (Carmichael, Thomson, Moran, & Wycherley, 2021)
                        It appears that aerobic performance outcomes are likely to be enhanced but strength performance is diminished in the early follicular phase; similarly, endurance is diminished in the ovulatory phase, while strength and anaerobic performance improves in the same phase.
                    
                    Based on this graphic, endurance performance is likely best early in the MC, and anaerobic (HIIT, short intense) and strength performance may be best in the ovulatory phase; strength and aerobic (walking running) performance may be worst in the late luteal phase and anaerobic performance could be worst in the late follicular phase.
                    </p>
                </div>

                <div id="Work" class="section">
                    <h2>Work</h2>
                    
                    <p>Sed sollicitudin velit lacinia fringilla dignissim. Mauris quis mattis lectus, non maximus nunc. Proin vitae bibendum urna, id varius magna. Ut vel odio et justo tempus posuere eu iaculis libero. Pellentesque sapien ante, venenatis vel luctus sit amet, mattis tempor enim. Suspendisse dictum posuere congue. Etiam nec justo non sem ornare pharetra at et massa. Duis accumsan ante eget orci dapibus condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse aliquet metus vel arcu elementum, eu vehicula eros feugiat. Vivamus eget felis vehicula risus vestibulum interdum. Curabitur pretium purus justo, sed accumsan nisl pretium et. Morbi vehicula ipsum et felis venenatis, finibus laoreet nibh sollicitudin. Proin faucibus ante eget feugiat dictum. Fusce eu est vel tellus placerat cursus quis et nunc.</p>
                    
                    <p>Vivamus a malesuada mi. Donec tempor iaculis diam ut porttitor. Donec ac metus purus. Vestibulum luctus nisl at risus mattis imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sollicitudin lacus non porta semper. Nam quam urna, imperdiet vitae egestas vitae, rhoncus nec leo. Pellentesque vestibulum nisl justo, sed volutpat justo porta et. Phasellus neque dolor, hendrerit id ligula ac, porttitor ultricies eros. Quisque eu risus bibendum, interdum risus vel, feugiat metus. Suspendisse feugiat faucibus metus sed rhoncus. Duis at luctus erat. Cras vulputate tempus placerat. Pellentesque gravida arcu ac nibh placerat, sed elementum mauris convallis. Sed rutrum, metus ac pharetra dictum, erat nunc vulputate leo, nec hendrerit lectus justo nec quam.</p>
                </div>

            </div>
        </div>
        
        <script src="/script.js"></script>
    </body>
        
    <footer>
        <div id="footer"></div>
    </footer>
        
</html>