<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Hormonal Imbalance</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Address bar logo icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>

</head>

<body>
    <div id="navbar"></div>
    
    <div class="pages text">
        <h1>Hormonal Imbalance</h1>
        <section class="imbalance1">
        <div>
            <h2>Observations</h2>
            <p>What to look out for?</p>
            <ul>
                <li>General mood</li>
                <li>Quality of sleep</li>
                <li>Energy level</li>
                <li>Concentration</li>
                <li>Bathroom habits</li>
                <li>Skin condition</li>
            </ul>
        </div>
        <div>
            <h2>Symptoms</h2>
            <ul>
                <li>Weight gain</li>
                <li>Irregular periods</li>
                <li>Heavy flow</li>
                <li>Problems falling asleep</li>
                <li>Acne</li>
                <li>Tummy discomfort</li>
                <li>Fatigue</li>
                <li>Mood swings</li>
                <li>Vaginal dryness</li>
                <li>Discharge from the breasts</li>
                <li>Hair loss/thinning</li>
                <li>Cold hands and feet</li>        
            </ul>
        </div>
        </section>

        <section>
            <h2>When should I worry about my period?</h2>
            <p>Contact your healthcare provider if:</p>
            <ul>
                <li>Have not gotten your period for three months or longer</li>
                <li>Suddenly bleeding for more days than usual (period length is longer)</li>
                <li>Bleeding much lighter or much heavier than usual (blood volume changes)</li>
                <li>Experiencing severe pain during your period</li>
                <li>Bleeding between periods</li>
                <li>Feeling sick after using tampons</li>
                <li>Think you might be pregnant
                    <ul><li>E.g., you've had sex and your period is at least five days late</li></ul>
                <li>Have not gotten your period within three months of stopping birth control pills and you know you're not pregnant.</li>
                <li>Have any questions or concerns about your period or possible pregnancy.</li>
            </ul>

            <p>Untreated or unmonitored hormonal imbalance may also lead to other health risks:</h2>
            <ul>
                <li>Hyperandrogenism</li>
                <li>Infertility</li>
                <li>Premenstrual dysphoric disorder (PMDD)</li>
                <li>Polycystic ovary syndrome (PCOS)</li>
                <li>Diabetes</li>
                <li>Hyperthyroidism and hypothyroidism</li>
                <li>Osteoporosis</li>
                <li>Breast cancer</li>
                <li>Cardiovascular disease</li>
            </ul>
            <i><b>Important note:</b><br/>Always seek professional medical advice from your healthcare provider in the event of any medical query or emergency. Do not attempt to diagnose or self-medicate your medical condition.</i>
        </section>

        <section>

            <h2>Relevant Articles</h2>
            
            <div class="topicContainer">
                <div class="topics sports">
                    <button><a href="https://netballher.co.uk/category/menstrual-cycle/">Sports</a></button>
                    <p>Find out how you can optimize your period when playing sports or working out!</p>
                </div>
                <div class="topics">
                    <button><a href="https://cna.asia/3WLV9GF">Sleep</a></button>  
                    <p>Not sleeping enough? Perhaps you are experiencing an imbalance of the cortisol hormone. Discover how hormonal imbalance impacts your sleep quality.</p>
                </div>
                <div class="topics">
                    <button><a href="https://angea.com.au/what-foods-to-eat-during-your-menstrual-cycle/">Food</a></button>  
                    <p>Not supposed to eat watermelon or pineapple during that time of the month? Here are other food recommendations to achieve balance with a Traditional Chinese Medicine twist.</p>
                </div>      
            </div>
        </section>

    </div>
    
    <script src="https://cdn.jotfor.ms/s/umd/latest/for-cardform-feedback-embed.js"></script> <script> var componentID = new JF_FeedbackEmbedButton({ buttonIcon: "rate", buttonFontColor: "#FFFFFF", buttonBackgroundColor: "#c2a5d1", formId: 241423256320445 , buttonText: "Leave your Feedback", buttonSide: "Bottom", buttonAlign: "Right", base: "https://form.jotform.com/", }).componentID; </script> <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script> <script>window.jotformEmbedHandler("iframe[id='" + componentID + "_iframe']", "https://form.jotform.com/")</script>
    
    <script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>


</html>