<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Hormonal Imbalance</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>
    <style>
        a {
        color:#000;
        text-decoration: none;
        font-weight: bold;
        }
        a:hover {
        color: #995151;
        }
    </style>
</head>

<body>
    <div id="navbar"></div>
    
    <div class="pages">
        <div class="text">
            <h1>Hormonal Imbalance</h1>
            
            <h2>Observations</h2>
            <ul>
                <li>General mood</li>
                <li>Quality of sleep</li>
                <li>Energy level</li>
                <li>Concentration</li>
                <li>Bathroom habits</li>
                <li>Skin condition</li>
            </ul>

            <h2>Symptoms</h2>
            <ul>
                <li>Weight gain</li>
                <li>Irregular periods</li>
                <li>Heavy flow</li>
                <li>Problems falling asleep</li>
                <li>Acne</li>
                <li>Tummy discomfort</li>
                <li>Fatigue</li>
                <li>Mood swings</li>
                <li>Vaginal dryness</li>
                <li>Discharge from the breasts</li>
                <li>Hair loss/thinning</li>
                <li>Cold hands and feet</li>        
            </ul>

            <h2>When should I worry about my period?</h2>
            <p>Contact your healthcare provider if:</p>
            <ul>
                <li>Have not gotten your period for three months or longer</li>
                <li>Suddenly bleeding for more days than usual (period length is longer)</li>
                <li>Bleeding much lighter or much heavier than usual (blood volume changes)</li>
                <li>Experiencing severe pain during your period</li>
                <li>Bleeding between periods</li>
                <li>Feeling sick after using tampons</li>
                <li>Think you might be pregnant
                    <ul><li>E.g., you've had sex and your period is at least five days late</li></ul>
                <li>Have not gotten your period within three months of stopping birth control pills and you know you're not pregnant.</li>
                <li>Have any questions or concerns about your period or possible pregnancy.</li>
            </ul>

            <h2>Topics</h2>
            <ul class="topics" id="topics-button">
                <button><a href="https://netballher.co.uk/category/menstrual-cycle/">Sports</a></button>
                <button><a href="https://cna.asia/3WLV9GF">Sleep</a></button>            
            </ul>

            <div class="references">
                <h2>References:</h2>
                <p id="references">
                    <ul>
                        <li>
                            Author, A. A. (Year). Title of work: Capital letter also for subtitle. Publisher.
                        </li>
                        <li>
                            Author, B. B., & Author, C. C. (Year). Title of article. <i>Title of Periodical, volume number</i>(issue number), pages. https://doi.org/xx.xxx/yyyy
                        </li>
                        <li>
                            Author, D. D. (Year). Title of chapter. In E. E. Editor (Ed.), <i>Title of book</i> (pp. pages). Publisher.
                        </li>
                        <li>
                            Author, F. F. (Year). Title of web page. Website Name. URL
                        </li>
                    </ul>
                    </p>
            </div>
        </div>

    </div>
    
    <script src="https://cdn.jotfor.ms/s/umd/latest/for-cardform-feedback-embed.js"></script> <script> var componentID = new JF_FeedbackEmbedButton({ buttonIcon: "rate", buttonFontColor: "#FFFFFF", buttonBackgroundColor: "#c2a5d1", formId: 241423256320445 , buttonText: "Leave your Feedback", buttonSide: "Bottom", buttonAlign: "Right", base: "https://form.jotform.com/", }).componentID; </script> <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script> <script>window.jotformEmbedHandler("iframe[id='" + componentID + "_iframe']", "https://form.jotform.com/")</script>
    
    <script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>


</html>