<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Hormonal Imbalance</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>

</head>

<body>
    <div id="navbar"></div>
    
    <div class="pages">
        <div class="text">
            <h1>Hormonal Imbalance</h1>
            <section class="imbalance1">
            <div>
                <h2>Observations</h2>
                <ul>
                    <li>General mood</li>
                    <li>Quality of sleep</li>
                    <li>Energy level</li>
                    <li>Concentration</li>
                    <li>Bathroom habits</li>
                    <li>Skin condition</li>
                </ul>
            </div>
            <div>
                <h2>Symptoms</h2>
                <ul>
                    <li>Weight gain</li>
                    <li>Irregular periods</li>
                    <li>Heavy flow</li>
                    <li>Problems falling asleep</li>
                    <li>Acne</li>
                    <li>Tummy discomfort</li>
                    <li>Fatigue</li>
                    <li>Mood swings</li>
                    <li>Vaginal dryness</li>
                    <li>Discharge from the breasts</li>
                    <li>Hair loss/thinning</li>
                    <li>Cold hands and feet</li>        
                </ul>
            </div>
            </section>

            <section>
                <h2>When should I worry about my period?</h2>
                <p>Contact your healthcare provider if:</p>
                <ul>
                    <li>Have not gotten your period for three months or longer</li>
                    <li>Suddenly bleeding for more days than usual (period length is longer)</li>
                    <li>Bleeding much lighter or much heavier than usual (blood volume changes)</li>
                    <li>Experiencing severe pain during your period</li>
                    <li>Bleeding between periods</li>
                    <li>Feeling sick after using tampons</li>
                    <li>Think you might be pregnant
                        <ul><li>E.g., you've had sex and your period is at least five days late</li></ul>
                    <li>Have not gotten your period within three months of stopping birth control pills and you know you're not pregnant.</li>
                    <li>Have any questions or concerns about your period or possible pregnancy.</li>
                </ul>
            </section>

            <section>

                <h2>Topics</h2>
                
                <ul class="topics" id="topics-button">
                    <div class="sports">
                        <button><a href="https://netballher.co.uk/category/menstrual-cycle/">Sports</a></button>
                        <p>Find out how you can optimize your period when playing sports or working out!</p>
                    </div>
                    <div class="sleep">
                        <button><a href="https://cna.asia/3WLV9GF">Sleep</a></button>  
                        <p>Not sleeping enough? Perhaps you are experiencing an imbalance of cortisol, one of many hormones in our bodies. Discover how hormonal imbalance impacts your sleep quality.</p>
                    </div>
                              
                </ul>
            </section>

            <section>
                <div class="references">
                    <h2>References:</h2>
                    <p id="references">
                        <ul>
                            <li>
                                Carmichael, M. A., Thomson, R. L., Moran, L. J., & Wycherley, T. P. (2021). The Impact of Menstrual Cycle Phase on Athletes' Performance: A Narrative Review. <i>International journal of environmental research and public health, 18</i>(4), 1667. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7916245/">https://doi.org/10.3390/ijerph18041667</a>
                            </li>
                            <li>
                                Forney, K. J., Keel, P. K., O'Connor, S., Sisk, C., Burt, S. A., & Klump, K. L. (2019). Interaction of hormonal and social environments in understanding body image concerns in adolescent girls. <i>Journal of psychiatric research, 109</i>, 178–184. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6317862/">https://doi.org/10.1016/j.jpsychires.2018.12.008</a>
                            </li>
                            <li>
                                Gibson-Helm, M., Teede, H., Dunaif, A., & Dokras, A. (2017). Delayed Diagnosis and a Lack of Information Associated With Dissatisfaction in Women With Polycystic Ovary Syndrome. <i>The Journal of clinical endocrinology and metabolism, 102</i>(2), 604-612. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6283441/">https://doi.org/10.1210/jc.2016-2963</a>
                            </li>
                            <li>
                                Gjellestad, M., Haraldstad, K., Enehaug, H., & Helmersen, M. (2023). Women's Health and Working Life: A Scoping Review. <i>International journal of environmental research and public health, 20</i>(2), 1080. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9859470/">https://doi.org/10.3390/ijerph20021080</a>
                            </li>
                            <li>
                                Mysoor, A. (2024, February 20). <i>How women can use monthly periods as a productivity tool.</i> Forbes. <a href="https://www.forbes.com/sites/alexandramysoor/2018/05/10/how-women-can-use-monthly-periods-as-a-productivity-tool/?sh=5c7d65bd1637">https://www.forbes.com/sites/alexandramysoor/2018/05/10/how-women-can-use-monthly-periods-as-a-productivity-tool/?sh=5c7d65bd1637</a>
                            </li>
                            <li>
                                Novo Nordisk. (2023, July 5). <i>Polycystic ovary syndrome: How losing weight can help with irregular periods, acne and infertility.</i> The Straits Times. <a href="https://str.sg/iUte">https://www.straitstimes.com/singapore/health/how-losing-weight-can-help-polycystic-ovary-syndrome-novo-nordisk</a>
                            </li>
                            <li>
                                Pierson, E., Althoff, T., Thomas, D., Hillard, P., & Leskovec, J. (2021). <a href="https://par.nsf.gov/servlets/purl/10219235">Daily, weekly, seasonal and menstrual cycles in women's mood, behaviour and vital signs.</a> <i>Nature Human Behaviour, 5</i>(6), 716-725.
                            </li>
                            <li>
                                Poli, K. (2022, July 20). <i>The most popular period-tracking apps, ranked by Data Privacy.</i> Wired. <a href="https://www.wired.com/story/period-tracking-apps-flo-clue-stardust-ranked-data-privacy/">https://www.wired.com/story/period-tracking-apps-flo-clue-stardust-ranked-data-privacy/</a>
                            </li>
                            <li>
                                Thalia, T. by. (2022, July 12). <i>Cycle syncing; how to align your lifestyle with each phase in your menstrual cycle.</i> Medium. <a href="https://notesbythalia.medium.com/cycle-syncing-how-to-align-your-lifestyle-with-each-phase-in-your-menstrual-cycle-69cd9900e767">https://notesbythalia.medium.com/cycle-syncing-how-to-align-your-lifestyle-with-each-phase-in-your-menstrual-cycle-69cd9900e767</a>
                            </li>
                            <li>
                                Wieczorek, K., Targonskaya, A., & Maslowski, K. (2023). Reproductive hormones and female mental wellbeing. <i>Women, 3</i>(3), 432-444. <a href="https://www.mdpi.com/2673-4184/3/3/33#metrics">https://doi.org/10.3390/women3030033</a>
                            </li>
                            <li>
                                World Health Organization. (2023, June 28). <i>Polycystic ovary syndrome.</i> Retrieved from <a href="https://www.who.int/news-room/fact-sheets/detail/polycystic-ovary-syndrome">https://www.who.int/news-room/fact-sheets/detail/polycystic-ovary-syndrome</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </section>
        </div>

    </div>
    
    <script src="https://cdn.jotfor.ms/s/umd/latest/for-cardform-feedback-embed.js"></script> <script> var componentID = new JF_FeedbackEmbedButton({ buttonIcon: "rate", buttonFontColor: "#FFFFFF", buttonBackgroundColor: "#c2a5d1", formId: 241423256320445 , buttonText: "Leave your Feedback", buttonSide: "Bottom", buttonAlign: "Right", base: "https://form.jotform.com/", }).componentID; </script> <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script> <script>window.jotformEmbedHandler("iframe[id='" + componentID + "_iframe']", "https://form.jotform.com/")</script>
    
    <script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>


</html>