<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Purpose</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>
</head>

<body>
    <div id="navbar"></div>
    
    <div class="pages text">
        <h1>Purpose</h1>

        <div>
            <h2>Who is PeriodPal for?</h2>
            <p>
                While some find that their menstrual cycle doesn't significantly affect their daily lives, that's not the case for everyone. Cycle syncing may be especially helpful if you suspect your menstrual cycle is affecting your physical, mental health and work.
            </p>
        </div>

        <div>
            <h2>What is PeriodPal for?</h2>
            <p>
                PeriodPal aims to bring accessible and educational information to women whose daily lives are significantly affected by their menstrual cycles, whilst ensuring privacy to users' health information. By raising awareness on hormonal imbalance, this platform serves to help users to identify symptoms based on their current cycle to make educated lifestyle choices.
            </p>
        </div>

        <div>
            <h2>Let's talk about PeriodPal!</h2>
            <p>
                Click <a href="https://www.canva.com/design/DAGFqCCjsFE/MqUD6eopWNqRmoJa55TG9w/view?utm_content=DAGFqCCjsFE&utm_campaign=designshare&utm_medium=link&utm_source=editor">here</a> for a deep dive into why I created PeriodPal.
            </p>
        </div>

    </div>
    
<script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>


</html>