<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Purpose</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>
</head>

<body>
    <div id="navbar"></div>
        
    <div class="text">
        <h1>Purpose</h1>

        <div>
            <h2>Who is PeriodPal for?</h2>
            <p>
                While some find that their menstrual cycle doesn’t significantly affect their daily lives, that’s not the case for everyone. Cycle syncing may be especially helpful if you suspect your menstrual cycle is affecting your physical and mental health.
            </p>
        </div>

        <div>
            <h2>What is PeriodPal for?</h2>
            <p>
                PeriodPal aims to bring accessible and educational, by raising awareness on hormonal imbalance and helping users whose daily lives are significantly affected by their menstrual cycles to identify symptoms based on their current cycle to make educated lifestyle choices.
            </p>
        </div>

    </div>
<script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>


</html>