<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PeriodPal - Recommendations</title>
        <link rel="stylesheet" href="/style.css">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TMV7P8QFCJ');
        </script>

        
    </head>

    <body>
        <div id="navbar"></div>

        <div class="pages">
            <div class="text">
                <h1>Recommendations</h1>
                <div class="scroll">
                    <button class="scroll" class="Nutrition" onclick="scrollToSection('Nutrition')">Nutrition</button>
                    <button class="scroll" class="Exercise" onclick="scrollToSection('Exercise')">Exercise</button>
                    <button class="scroll" class="Work" onclick="scrollToSection('Work')">Work</button>
                </div>

                <div class="Nutrition">
                    <h2>Nutrition</h2>
                    <p></p>
                </div>

                <div class="Exercise">
                    <h2>Exercise</h2>
                    <p>Exercises: (Carmichael, Thomson, Moran, & Wycherley, 2021)
                        It appears that aerobic performance outcomes are likely to be enhanced but strength performance is diminished in the early follicular phase; similarly, endurance is diminished in the ovulatory phase, while strength and anaerobic performance improves in the same phase.
                    
                    Based on this graphic, endurance performance is likely best early in the MC, and anaerobic (HIIT, short intense) and strength performance may be best in the ovulatory phase; strength and aerobic (walking running) performance may be worst in the late luteal phase and anaerobic performance could be worst in the late follicular phase.
                    </p>
                </div>

                <div class="Work">
                    <h2>Work</h2>
                    <p></p>
                </div>

            </div>
        </div>
        
        <script src="/script.js"></script>
    </body>
        
    <footer>
        <div id="footer"></div>
    </footer>
        
</html>