<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeriodPal - Purpose</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMV7P8QFCJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMV7P8QFCJ');
    </script>
</head>

<body>
    <div id="navbar"></div>
        
    <div class="thanks">
        <h1>Thanks to...</h1>
        <p>Desiree</p>
        <p>Darren</p>
        <p>Preshant</p>
        <p>Ziyan</p>
        <p>Jolene</p>
        <p>&</p>
        <p>Edwin</p>
        <p>for creating the wings for PeriodPal to fly.</p>
        <img src="/assets/PeriodPal Short logo.png" alt="PeriodPal Logo" width="300">
    </div>

<script src="/script.js"></script>
</body>

<footer>
    <div id="footer"></div>
</footer>

</html>